/out/production/neural_network/brain.class
/out/production/neural_network/Flood_dataset.txt
/out/production/neural_network/main.class
/out/production/neural_network/synapse.class
/out/production/neural_network/weightMatrix.class
